doctype html
html(lang="en")
  head
    title titlePage
    link(rel="stylesheet" href="./styles.css")
    link(href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet")
  body
    .container
      .wrap-title
        p c
        p a
        p s
        p i
        p n
        p o
      button.testButton test automatically
      button.createCasino create Casino
      .casino

  script(src="javascripts.js")
  script(src="lessons.js")
